<h2>All articles</h2>

<% @articles.each do |article| %>
  <div class="article">
    <h3><%= link_to article.title, article.url %></h3>
    <p>
      <%= pluralize(article.votes.count, 'point') %>
      by <%= article.user.email %>
      <%= time_ago_in_words(article.created_at) %> ago
      | <%= link_to 'Upvote', article_vote_path(article, direction: 'up'), method: :patch %>
      | <%= link_to pluralize(article.comments.count, 'comment'), article_comments_path(article) %>
    </p>
  </div>
<% end %>
